/*
 * Copyright (c) 2025 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#define FUNC 1
#define RES 2
#define BOT bootloader

/ {
    input_processors {
        zip_temp_layer: zip_temp_layer {
            compatible = "zmk,input-processor-temp-layer";
            #input-processor-cells = <2>;
        };

        ip_behaviors0: ip_behaviors0 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_0>;
            bindings = <&kp RIGHT>;
        };

        ip_behaviors1: ip_behaviors1 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_1>;
            bindings = <&kp LEFT>;
        };

        ip_behaviors2: ip_behaviors2 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_2>;
            bindings = <&kp DOWN>;
        };

        ip_behaviors3: ip_behaviors3 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_3>;
            bindings = <&kp UP>;
        };
    };

    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };

        tdRMCLK: tap_dance_R_MMouse {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp RCLK>, <&mkp MCLK>;
        };

        td_lower: hold_lower_double_to_lower {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mo 1>, <&to 1>;
        };

        td_raise: hold_raise_double_to_raise {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mo 2>, <&to 2>;
        };

        to_def: to_QWERTY {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&to 0>, <&to 0>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&kp &kp>;
        };

        sp_sc: behavior_spacescroll {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&none &kp>;
        };

        LMouse_sc: behavior_LMouse_Scroll {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&none &mkp>;
        };

        M_kp: behavior_mouse_keypress {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mkp &kp>;
        };

        BLE_encoder: BLE_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_PRV>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC   &kp N1   &kp N2     &kp N3   &kp N4    &kp N5    &kp C_PP                      &kp C_PP                       &kp N6      &kp N7      &kp N8    &kp N9    &kp N0   &kp BSPC
&kp TAB   &kp Q    &kp W      &kp E    &kp R     &kp T                                                                  &kp Y       &kp U       &kp I     &kp O     &kp P    &kp BSLH
&kp CAPS  &kp A    &kp S      &kp D    &kp F     &kp G     &mkp LCLK                     &mkp LCLK                      &kp H       &kp J       &kp K     &kp L     &kp SEMI &kp ENTER
&kp LSHFT &kp Z    &kp X      &kp C    &kp V     &kp B     &kp C_PREV &kp C_NEXT         &msc SCRL_DOWN  &msc SCRL_UP   &kp N       &kp M       &kp COMMA &kp DOT   &kp FSLH &kp RSHIFT
                   &kp LCTRL  &kp LGUI &kp LALT  &kp SPACE &td_lower                                     &td_lower      &kp SPACE   &kp MINUS   &kp EQUAL    &kp GRAVE
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "LOWER";
            bindings = <
&kp ESC     &kp F1    &kp F2     &kp F3    &kp F4    &kp F5           &kp C_PP                     &kp C_MUTE             &kp F6    &kp F7   &kp F8     &kp F9    &kp F10    &kp DEL
&kp TAB     &trans    &kp UP     &trans    &trans    &out OUT_TOG                                                         &kp F11   &kp F12  &kp UP     &trans    &kp HOME   &kp BSLH
&kp CAPS    &kp LEFT  &kp DOWN   &kp RIGHT &trans    &trans           &mkp RCLK                    &mkp RCLK              &trans    &kp LEFT &kp DOWN   &kp RIGHT &kp APOS   &kp ENTER
&kp LSHFT   &trans    &trans     &trans    &trans    &rgb_ug RGB_TOG  &trans     &trans            &bl BL_DEC  &bl BL_INC &trans    &trans   &kp LBKT   &kp RBKT  &kp UNDER  &kp PLUS
                      &BOT       &kp LGUI  &kp LALT  &kp SPACE        &td_lower                                &td_lower &kp SPACE &trans   &kp DOT    &BOT
            >;
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            display-name = "RAISE";
            bindings = <
&kp ESC     &kp F1    &kp F2     &kp F3    &kp F4    &kp F5           &bt BT_CLR                   &kp C_MUTE             &kp F6    &kp F7    &kp F8    &kp F9    &kp F10    &kp BSPC
&kp TAB     &trans    &kp UP     &trans    &trans    &out OUT_TOG                                                         &kp F11   &kp F12   &kp N7    &kp N8    &kp N9     &kp BSLH
&kp CAPS    &kp LEFT  &kp DOWN   &kp RIGHT &trans    &trans           &mkp RCLK                    &none                  &trans    &trans    &kp N4    &kp N5    &kp N6     &kp ENTER
&kp LSHFT   &trans    &trans     &trans    &trans    &rgb_ug RGB_TOG  &trans     &trans            &none   &none          &trans    &kp N0    &kp N1    &kp N2    &kp N3     &kp RSHIFT
                      &kp LCTRL  &kp LGUI  &kp LALT  &kp SPACE        &td_lower                               &td_lower &kp SPACE &kp MINUS &kp EQUAL &kp GRAVE
            >;
        };

        MOUSE_layer {
            display-name = "MOUSE";
            bindings = <
&kp ESC   &kp N1    &kp N2     &kp N3   &kp N4   &kp N5     &bt BT_CLR                       &kp C_MUTE       &kp N6     &kp N7         &kp N8    &kp N9    &kp N0   &kp BSPC
&kp TAB   &kp Q     &kp W      &kp E    &kp R    &kp T                                                        &kp Y      &M_kp MCLK U    &kp I     &kp O     &kp P    &kp BSLH
&kp CAPS  &kp A     &kp S      &kp D    &kp F    &kp G      &mkp LCLK                        &mkp LCLK        &kp H      &M_kp LCLK J    &kp K     &kp L     &kp SEMI &kp ENTER
&kp LSHFT &kp Z     &kp X      &kp C    &kp V    &kp B      &msc SCRL_DOWN   &msc SCRL_UP    &none  &none     &kp N      &M_kp RCLK M    &kp COMMA &kp DOT   &kp FSLH &kp RSHIFT
                    &kp LCTRL  &kp LGUI &kp LALT &kp SPACE  &mkp LCLK                         &mkp LCLK &tdRMCLK   &kp MINUS      &kp EQUAL    &kp GRAVE
            >;
        };

        RES_layer {
            display-name = "RESERVE";
            bindings = <
&none     &none     &none      &none    &none    &none   &none                        &none            &none   &none  &none   &none  &none  &none
&none     &none     &none      &none    &none    &none                                                 &none   &none  &none   &none  &none  &none
&none     &none     &none      &none    &none    &none   &none                        &none            &none   &none  &none   &none  &none  &none
&none     &none     &none      &none    &none    &none   &none   &none                &none  &none     &none   &none  &none   &none  &none  &none
                    &none      &none    &none    &none   &none                                         &none   &none  &none   &none  &none
            >;
        };
    };
};
